<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mb.android.maiboapp"
    android:versionCode="100"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="9" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 查看 Wi-Fi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 获取联系人信息，demo中演示发送通讯录消息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.mb.android.maiboapp.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mb.android.maiboapp.activity.LoadingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mb.android.maiboapp.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".BaseWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.ConversationActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.mb.android.maiboapp"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mb.android.maiboapp.activity.WeiboDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.FeedbackActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mb.android.maiboapp.activity.AbountActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.ManageAccountActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.NotifyActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.PrivacyActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserEditNameActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserEditIntrodutionActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserLoginActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserRegisterActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserVerCodeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserAddInfoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserForgetPwdActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserSettingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserUpdatePwdActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserInfoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserWeibosActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserFollowsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserFansActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserProfileActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserFriendsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserPhotosActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserCollectsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserLongMbActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserGoodsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserCommentsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.UserLevelActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.AddMBMenu"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.mb.android.maiboapp.activity.MBPostActivtiy"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mb.android.maiboapp.activity.MBPostLongActivtiy"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mb.android.maiboapp.activity.MBRepostActivtiy"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mb.android.maiboapp.activity.MBCommentActivtiy"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mb.android.maiboapp.activity.MenuBottomActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/BottomDialogStyle" />
        <activity
            android:name="com.mb.android.maiboapp.rongcloud.activity.FriendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.WeiBoListCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.rongcloud.activity.PersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.rongcloud.activity.ImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PhotoBrowser" />
        <activity
            android:name="com.mb.android.maiboapp.activity.MessageAtActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.MessageGoodsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.MessageCommentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.PhotoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mb.android.maiboapp.activity.CommonSettingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
 		 <!--图片多选页面-->
        <activity
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" />
        <service
            android:name="com.mb.android.maiboapp.service.UrlConfigService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="com.mb.android.maiboapp.service.NotifyService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- begin rongcloud -->
        <activity
            android:name="io.rong.voipkit.activity.CallSideActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.mb.android.maiboapp"
                    android:pathPrefix="/VoIPCall"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.voipkit.activity.CalledSideActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.mb.android.maiboapp"
                    android:pathPrefix="/VoIPAccept"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <service
            android:name="io.rong.push.PushService"
            android:process="io.rong.push" > <!-- Waring: The name of the push process can't be changed!!! -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.push" />
            </intent-filter>
        </service>
        <service
            android:name="io.rong.push.CommandService"
            android:process="io.rong.push" > <!-- Waring: The name of the push process can't be changed!!! -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.command" />
            </intent-filter>
        </service>

        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push" > <!-- Waring: The name of the push process can't be changed!!! -->
            <intent-filter>
                <action android:name="io.rong.imlib.action.push.heartbeat" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="io.rong.imkit.tools.SelectPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.PreviewPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.RongWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc" >
        </service>
        <service android:name="io.rong.imlib.ReConnectService" />

        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />
        <receiver android:name="io.rong.imlib.ipc.PushMessageReceiver" >
            <intent-filter>
                <action android:name="io.rong.push.message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />

        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="bmdehs6pdu43s" />

        <!-- end rongcloud -->
    </application>

</manifest>